body {
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Mono One", sans-serif;
}

#root {
  height: 100vh;
}

/* Navigation Styles */
.navi {
  background-color: #ff7f27;
}

.navi a {
  color:white;
}

.navbar-brand {
  font-size: 32px;
  font-weight: bold;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.card-header {
  background-color: #ff7f27;
  border: 1px solid #ff7f27;
}

/* Home Styles */
.content-container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.home-container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.home-hero {
  width: 100%;
  justify-content: space-between;
  padding: 64px 32px 32px 32px;
}

.hero-text, .hero-image {
  width: 50%;
}

.home-info {
  padding: 32px 32px 0px 32px; 
}

.form-item input {
  border-radius: 4px;
}

.form-item label{
  width: 80px;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.flex-row-center {
  display: flex;
  align-items: center;
}

.userhome {
  margin: 14px;
  padding: 24px 40px 48px 40px;
  background-color: #fff;
  border: 1px solid #d1d3db;
  border-radius: 10px;
  /* box-shadow: offset-x | offset-y | blur-radius | color */
  box-shadow: 10px 10px 20px #0000001a ;
}

.userhome h2 {
  margin: 0px;
} 

.date-select h2{
  margin: 0px 8px;
  width: 370px;
  text-align: center;
}

.calorie-bar p {
  text-align: center;
  margin: 0px;
  width: 300px;
  font-size: 12px;
}

#calorie-bar-header {
  text-align: center;
  margin: 0px;
  width: 300px;
}

#calorie-bar-target {
  position: relative;
  top: -12px;
}

.entry-log {
  padding: 12px 56px;
  width: 420px;
  
}

.entry-log-msg {
  background-color: #e4e4e4;
  padding: 16px;
  border-radius: 4px;
  font-size: 12px;
}

/* FoodLog Styles */
.food-log {
  display: flex;
  flex-direction: column;
}

.controls-and-totals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 64px;
} 

.day-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.log-totals {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.day-controls p, .log-totals p {
  margin: 0px;
  
}

.log-totals-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-totals-stat .totals-macro {
  font-weight: bold;
  font-size: 16px;
}

.log-totals-stat .totals-cals {
  font-weight: bold;
  font-size: 32px;
}

/* EntryTable Styles */
.entry-table {
  margin: 24px 0px;
  display: flex;
  flex-direction: column;
}

.table-header, .table-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.table-header {
  background-color: rgb(220, 220, 220);
  border-radius: 8px;
}

.table-entry {
  border-bottom: solid 1px rgb(165, 165, 165);
}

.table-header .name-col p, .table-header .cals-col p, .entry-table .totals p {
  font-weight: bolder;
}

.edit-col {
  display: flex;
  width: 72px;
  justify-content: center;
}

.name-col {
  width: 200px;
}

.macros-col {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}

.cals-col {
  width: 100px;
}

.entry-table button, .day-controls button {
  border: none;
  background-color: transparent;
  padding: 4px 2px;
}

/* EntryForm Styles */
.entry-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.entry-form input, .entry-form select {
  width: 400px;
}